{% extends "base.html" %}

{% block title %}Editar Atividade{% endblock %}

{% block content %}
<div class="content-container">

    <div class="page-header">
        <h1 class="page-title"><i class="fas fa-pencil-alt"></i> Editar Atividade #{{ atividade.id }}</h1>
        </div>

    <div class="info-card form-card">
        <form method="POST" action="{{ url_for('editar_atividade', id=atividade.id) }}">

            {% include '_form_registro.html' %}

            <div class="form-row" style="justify-content: flex-end; margin-top: 20px; margin-bottom: 0;">
                <a href="{{ url_for('historico') }}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </div>

        </form>
    </div>

</div>
{% endblock %}